<!-- start footer -->
<footer class="p-0 position-relative" id="footer">
  <div
    class="bg-very-light-gray border-radius-6px pt-5 pb-5 md-pt-30px md-pb-30px md-ps-15px md-pe-15px sm-pt-50px sm-pb-50px"
  >
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 col-lg-3 last-paragraph-no-margin order-md-1 md-mb-30px"
        >
          <a href="/" class="footer-logo d-inline-block mb-10px"
            ><img
              src="images/demo-blogger-footer-logo-black.png"
              data-at2x="images/demo-blogger-footer-logo-black@2x.png"
              alt=""
          /></a>
          <p class="lh-28 d-block w-80 mb-15px">
            Shop No. E434 Sewage Drain Mochi Gate Lahore.
          </p>
          <a href="tel:+923008019432" class="text-dark-gray fw-600">
            <i class="feather icon-feather-phone-call me-10px"></i>+92
            3008019432
          </a>
          <div class="text-dark-gray fw-600">
            <i class="feather icon-feather-mail me-10px"></i
            ><a
              href="mailto:info@afzal.com"
              class="text-dark-gray text-decoration-line-bottom"
              >info@afzal.com</a
            >
          </div>
        </div>
        <div class="col-md-4 col-lg-2 order-md-3 order-lg-2 sm-mb-30px">
          <span class="fw-700 text-dark-gray d-block mb-5px fs-17"
            >Category</span
          >
          <ul>
            <li><a href="#">Gates</a></li>
            <li><a href="#">Grills</a></li>
            <li><a href="#">Staircase</a></li>
            <li><a href="#">Welding</a></li>
            <li><a href="#">Fabrication</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-lg-2 order-md-4 order-lg-3 sm-mb-30px">
          <span class="fw-700 text-dark-gray d-block mb-5px fs-17"
            >Information</span
          >
          <ul>
            <li><a href="/about">About us</a></li>
            <li><a href="/services">Our Services</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact us</a></li>
            <!-- <li><a href="#">Terms of use</a></li> -->
            <!-- <li><a href="#">Privacy policy</a></li> -->
          </ul>
        </div>
        <div class="col-md-4 col-lg-2 order-md-5 order-lg-4 sm-mb-30px">
          <span class="fw-700 text-dark-gray d-block mb-5px fs-17"
            >Follow us</span
          >
          <ul>
            <li>
              <a href="https://www.facebook.com/" target="_blank">Facebook</a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank">Instagram</a>
            </li>
            <li>
              <a href="https://linkedIn.com/" target="_blank">Whatsapp</a>
            </li>
            <li>
              <a href="https://www.tiktok.com/en/" target="_blank">Tik Tok</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 order-md-2 order-lg-5 md-mb-30px sm-mb-0">
          <h5 class="alt-font fw-600 mb-20px text-dark-gray">Contact Us.</h5>
          <div
            class="d-inline-block w-100 newsletter-style-02 position-relative mb-10px"
          >
            <form action="#" method="post" class="position-relative w-100">
              <input
                class="input-medium bg-transparent border-color-transparent-base-color w-100 form-control pe-50px ps-20px lg-ps-15px required"
                type="email"
                name="email"
                placeholder="Enter email address"
              />
              <input type="hidden" name="redirect" value="" />
              <button class="btn pe-20px submit" aria-label="submit">
                <i
                  class="icon feather icon-feather-mail icon-small text-base-color"
                ></i>
              </button>
              <div
                class="form-results border-radius-6px pt-5px pb-5px ps-15px pe-15px fs-14 w-100 text-center position-absolute d-none"
              ></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- start copyright -->
    <div class="row align-items-center pt-25px pb-25px">
      <div
        class="col-xl-8 col-lg-7 last-paragraph-no-margin md-mb-10px lg-mb-0 fs-14 text-center text-lg-start"
      >
        <p class="lg-w-70 md-w-100">
          This site is protected by reCAPTCHA and the Google
          <a href="#" class="text-decoration-line-bottom">privacy policy</a>
          and
          <a href="#" class="text-decoration-line-bottom">terms of service</a>
          apply.
        </p>
      </div>
      <div
        class="col-xl-4 col-lg-5 last-paragraph-no-margin fs-14 text-center text-lg-end"
      >
        <p>
          &copy; 2025 by
          <a
            href="https://wa.me/923210881100"
            target="_blank"
            class="text-decoration-line-bottom text-dark-gray fw-600"
            >UMAIR QASIM</a
          >
        </p>
      </div>
      <!-- end copyright -->
      <!-- start footer menu -->
    </div>
    <!-- end footer menu -->
  </div>
</footer>
<!-- end footer -->
