 <head>
    <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
     <meta name="google-site-verification" content="5Y8qBUNUmVPVzAylJBXgKfLDpcaMwvjcV9L7J8UUGXo" />
    <title>Afzal Steel Works | <%= title ? title : "Custom Welding & Fabrication Services" %></title>

    <meta
      name="description"
      content="Afzal Steel Works offers expert welding, metal fabrication, and steel structure services. Trusted in quality, precision, and reliability."
    />
    <meta
      name="keywords"
      content="welding, steel work, metal fabrication, custom welding, Afzal Steel, welding in Pakistan, steel fabrication, iron work"
    />
    <meta name="author" content="UMAIR QASIM" />
    <meta name="robots" content="index, follow" />

    <!-- Canonical URL -->
    <link rel="canonical" href="https://afzalsteelWorks.netlify.app" />

    <!-- Favicon -->
    <link
      rel="icon"
      href="/images/volder-favicon.png"
      type="image/png"
    />

    <!-- Open Graph / Facebook -->
    <meta
      property="og:title"
      content="Afzal Steel Works | Welding & Metal Fabrication Experts"
    />
    <meta
      property="og:description"
      content="Leading welding and fabrication service provider. We specialize in high-quality custom steel and iron works."
    />
    <meta
      property="og:image"
      content="https://afzalsteelWorks.netlify.app/public/assets/images/6.jpg.jpeg"
    />
    <meta property="og:url" content="https://afzalsteelWorks.netlify.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Afzal Steel Works" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Afzal Steel Works | Welding & Steel Experts"
    />
    <meta
      name="twitter:description"
      content="Top-rated steel work and welding services for homes and industries. Contact Afzal Steel Works today!"
    />
    <meta
      name="twitter:image"
      content="https://afzalsteelWorks.netlify.app/assets/images/twitter-image.jpg"
    />
    <meta name="twitter:site" content="@afzalsteelWorks" />
    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="css/vendors.min.css" />
    <link rel="stylesheet" href="css/icon.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="./css/blogger.css" />
  </head>